*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* topbar */
.topbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    align-items: center;
    color: white;
}
.left p{
    font-size: 14px;
    padding-left: 182px;
    color: #f4f5f3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}
.right{
    padding-right: 50px;
}
.right a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 14px;
}

/* header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
.logo img{
    width: 170px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    margin: 0 20px;
    font-size: 18px;
}
.icon-group .bi{
    margin: 0 5px;
    font-size: 20px;
}

/* hero */
.hero{
    height: 80vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background: url('https://bookraze-demo.myshopify.com/cdn/shop/files/main-banner-2.jpg?v=1741695075&width=1500'),no-repeat;
    background-size: cover;
}
.hero-content{
    padding-right: 150px;
}
.hero-content h1{
    margin:35px 0;
    font-size: 50px;
    font-weight: 100;
}
.hero-content p{
    font-size: 24px;
    margin-bottom: 30px;
}
.hero-content button{
    padding: 14px 28px;
    background-color: rgb(255, 179, 0);
    border: 0;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    cursor: pointer;
}
.hero-content button:hover{
    background-color: rgb(15, 15, 32);
    color: white;
}

.services-container{
    display: flex;
    justify-content: center;
    gap: 120px;
    height: 30vh;
    align-items: center;
}
.service-card{
    width: 260px;
    text-align: center;
}
.service-card h3{
    margin: 7px 0;
    font-weight: 100;
    font-size: 22px;
}
.service-card .bi{
    font-size: 40px;
}